Source: arch-backup
Section: utils
Priority: optional
Maintainer: Mattias Lundberg <lundberg.mattias@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.3
Homepage: http://mlundberg.se

Package: arch-backup
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Simple backup-script.
